// Specific CSS for your dates-page
#datestable {
  margin-right: 0px;
  border-collapse: collapse;
  width: 100%;
}

.container-table {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 100%;
}


td {

  padding: 0;
  margin: 0px;
  overflow: auto;
}

td div {
  border: 0;
  width: auto;
  height: auto;
  min-height: 20px;
  min-width: 20px;
}