// Specific CSS for your dates-page
#datestable {
  margin-right: 0px;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}

.container-table {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 100%;
}

.past {
  color: darkgray;
}


td {

  padding: 0px;
  margin: 0px;
  justify-content: center;
  overflow: auto;
}

th {
  justify-content: center;
}

td div {
  border: 0;
  width: auto;
  height: auto;
  min-height: 20px;
  min-width: 20px;
}

@media(max-width: 1024px){
  .event {
    display: none;
  }

  td {
    text-align: center;
    justify-content: center;
  }

  th {
    text-align: center;
    justify-content: center;
  }

}