// Specific CSS for your dates-page
#datestable {
  margin-right: 0px;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}

.tabledates {
  margin: $spacer;
  max-width: 100%;
}

.past {
  color: darkgray;
}

.venuelocation {
  text-align: center;
  justify-content: center;
  display: none;
}


td {

  padding: 0px;
  margin: 0px;
  justify-content: center;
  overflow: auto;
  text-align: center;
  justify-content: center;

}

th {
  text-align: center;
  justify-content: center;
}

td div {
  border: 0;
  width: auto;
  height: auto;
  min-height: 20px;
  min-width: 20px;
}

@media(max-width: 1194px){
  .event {
    display: none;
  }

}

<<<<<<< HEAD
@media(max-width: 644px){

  td {
    font-size: 14px;
=======
@media(max-width: 600px){
  td {
    font-size: 16px;
>>>>>>> ade280c3006059efd076b242deca237bccff2870
  }
  
  .venuelocation {
    display: block;
    text-align: center;
    justify-content: center;
  }
  
  .vldesktop{
    display: none;
  }
  
  .tabledates {
    margin: 0;
  }  
  
}

@media(max-width: 468px){

  td {
    font-size: 10px;
  }
  
  
}