
<div class='container-fluid'>
  <div class='mx-5 mt-5 pt-4'>
    <div class ="row justify-content-md-center">
      <h3>Booking:</h3>
    </div>
    <p class='text-center'>egonwards[at]gmail[dot]com</p>
  </div>
</div>
  <div class='mx-5 mt-5 pt-4'>
    <div class = "text-center">
      <h3>Press:</h3>
      <a href="https://drive.google.com/drive/folders/1ou6YLUCnV87k7DHkpsmqZR3ns0j_qA4s?usp=sharing">Download Press Kit</a>
    </div>
  </div>
</div>

    <!-- Footer -->

    
    <footer id="footer" class="text-center text-white mt-auto" style="background-color: #f1f1f1;">
  <!-- Grid container -->
      <div class="container pt-2">
        <!-- Section: Social media -->
        <section class="mb-2">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.facebook.com/ManycureLX"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.instagram.com/manycure/"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- soundcloud -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://soundcloud.com/manycure"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-soundcloud"></i
          ></a>
          <!-- bandcamp -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://manycure.bandcamp.com/"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-bandcamp"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    </footer>