<div class='container-fluid'>
  <div class='container-table mx-5 pt-4'>
    <table id="datestable">
      <tbody>
        <tr>
          <th>Date</th>
          <th>Venue</th>
          <th>Location</th>
          <th>Tickets</th>
        </tr>
        <tr>
          <td>18/09/2021</td>
          <td>Arroz Estúdios</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>19/06/2021</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>24/10/2020</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>   
        <tr>
          <td>26/09/2020</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr> 
        <tr>
          <td>07/09/2020</td>
          <td>Bar do Moinho D. Quixote</td>
          <td>Colares, Portugal</td>
          <td></td>
        </tr>   
        <tr>
          <td>05/09/2020</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>29/08/2020</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>16/08/2020</td>
          <td>EGO Stream</td>
          <td>Online</td>
          <td></td>
        </tr>
        <tr>
          <td>10/08/2020</td>
          <td>Karakter Records Show, East Side Radio</td>
          <td>Online</td>
          <td></td>
        </tr>
        <tr>
          <td>28/02/2020</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>28/02/2020</td>
          <td>Karakter Records Show, East Side Radio</td>
          <td>Online</td>
          <td></td>
        </tr>
        <tr>
          <td>28/12/2019</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>08/12/2019</td>
          <td>Harbor</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>21/09/2019</td>
          <td>Underground Meco Festival</td>
          <td>Sesimbra, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>20/09/2019</td>
          <td>Madalena</td>
          <td>Faro, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>23/05/2019</td>
          <td>Lux Frágil</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>09/02/2019</td>
          <td>Anjos70</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>18/01/2019</td>
          <td>Lux Frágil</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>01/12/2018</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>01/12/2018</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>26/10/2018</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>30/09/2018</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>12/08/2018</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>03/08/2018</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>22/07/2018</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>30/06/2018</td>
          <td>Europa</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>11/05/2018</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>19/04/2018</td>
          <td>Europa</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>07/05/2018</td>
          <td>Infame</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>22/03/2018</td>
          <td>Europa</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>16/02/2018</td>
          <td>EKA Palace</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>01/02/2018</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>01/01/2018</td>
          <td>EKA Palace</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
 