<div class='container-fluid'>
  <div class='container-table-sm-12 pt-4'>
    <table id="datestable">
      <tbody>
        <tr>
          <th>Date</th>
          <th>Event</th>
          <th>Venue</th>
          <th>Location</th>
          <th>Tickets</th>
        </tr>
          <td>26/03/2022</td>
          <td>EGO X Arroz with Rina, Talgiabue and Manycure</td>
          <td>Arroz Estúdios</td>
          <td>Lisbon, Portugal</td>
          <td><a href="https://ra.co/events/1507370" target="_blank">Resident Advisor</a></td>
        </tr>          
        <tr>
          <td>12/02/2022</td>
          <td>Harbour w/ Barem, Midinoize, Enkō, Manycure, Glove and Fr3d</td>
          <td>Harbour Music Shelter</td>
          <td>Lisbon, Portugal</td>
          <td><a href="https://xceed.me/pt/lisboa/event/harbour-w-barem--98669" target="_blank">Xceed</a></td>
        </tr>            
        <tr>
          <td>29/01/2022</td>
          <td>EGO X Arroz 5th Birthday with Khalil Suleman b2b Manycure b2b XCI</td>
          <td>Arroz Estúdios</td>
          <td>Lisbon, Portugal</td>
          <td><a href="https://ra.co/events/1493636" target="_blank">Resident Advisor</a></td>
        </tr>            
        <tr>
          <td>10/12/2021</td>
          <td>Karakter Records Fifth Birthday with Naduve and Pedro Martins b2b Manycure</td>
          <td>Village Underground Lisboa</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>            
        <tr>
          <td>04/12/2021</td>
          <td>EGO Showcase</td>
          <td>Frikk Club</td>
          <td>Porto, Portugal</td>
          <td></td>
        </tr>            
        <tr>
          <td>19/11/2021</td>
          <td>EGO x Arroz with Larmour, Vaz & Manycure</td>
          <td>Arroz Estúdios</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>        
        <tr>
          <td>10/11/2021</td>
          <td>Monolink Concert warm up Kokeshi b2b Manycure</td>
          <td>Captólio</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>        
        <tr>
          <td>30/10/2021</td>
          <td>EGO S04 E04</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>        
        <tr>
          <td>18/09/2021</td>
          <td>EGO x Arroz with Naduve and Manycure</td>
          <td>Arroz Estúdios</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>19/06/2021</td>
          <td>EGO S04 E02</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>24/10/2020</td>
          <td>Karakter Breakfast Club</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>   
        <tr>
          <td>26/09/2020</td>
          <td>Karakter Breakfast Club</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr> 
        <tr>
          <td>07/09/2020</td>
          <td>D.Quixote Private Party</td>
          <td>Bar do Moinho D. Quixote</td>
          <td>Colares, Portugal</td>
          <td></td>
        </tr>   
        <tr>
          <td>05/09/2020</td>
          <td>Sarau Electrónico</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>29/08/2020</td>
          <td>Sarau Electrónico</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>16/08/2020</td>
          <td>EGO S03 E02 Quarantine</td>
          <td>EGO Stream</td>
          <td>Online</td>
          <td></td>
        </tr>
        <tr>
          <td>10/08/2020</td>
          <td>Karakter Records Show</td>
          <td>East Side Radio</td>
          <td>Online</td>
          <td></td>
        </tr>
        <tr>
          <td>28/02/2020</td>
          <td>EGO S03 E01</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>28/02/2020</td>
          <td>Karakter Records Show</td>
          <td>East Side Radio</td>
          <td>Online</td>
          <td></td>
        </tr>
        <tr>
          <td>28/12/2019</td>
          <td>EGO S03 E00</td>
          <td>Nada Temple</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>08/12/2019</td>
          <td>Harbour with Midinoize and HNRQ b2b Manycure</td>
          <td>Harbour Music Shelter</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>21/09/2019</td>
          <td>Underground Meco Festival</td>
          <td>Sesimbra Natura Park</td>
          <td>Sesimbra, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>20/09/2019</td>
          <td>Madalena: Rick Offen b2b Manycure</td>
          <td>Madalena</td>
          <td>Faro, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>23/05/2019</td>
          <td>Karakter: Manycure x Pedro Martins x Switchdance</td>
          <td>Lux Frágil</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>09/02/2019</td>
          <td>16 Anos de Mister Teaser</td>
          <td>Anjos70</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>18/01/2019</td>
          <td>Superb: Fango x Bufiman x Carista x Manycure x Varela</td>
          <td>Lux Frágil</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>01/12/2018</td>
          <td>Karakter Label Night</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>26/10/2018</td>
          <td>Super Rouge: Switchdance + Manycure</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>30/09/2018</td>
          <td>EGO Rouge with Khalil Suleman, Manycure and Boltzman</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>12/08/2018</td>
          <td>Super Rouge with Twofold x Switchdance x Manycure x Khalil Suleman</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>03/08/2018</td>
          <td>Super Rouge - Pedro Martins + Manycure b2b Khalil Suleman</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>22/07/2018</td>
          <td>EGO Rouge with Reiseman, Manycure and Khalil Suleman</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>30/06/2018</td>
          <td>Saturday Night Life by EGO</td>
          <td>Europa</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>11/05/2018</td>
          <td>Palmbomen II (Live) + Pedro Martins + Manycure</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>19/04/2018</td>
          <td>Amuse-Bouche Served Hot by EGO</td>
          <td>Europa</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>07/05/2018</td>
          <td>Infame with Hnrq and Khalil Suleman b2b Manycure</td>
          <td>Infame</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>22/03/2018</td>
          <td>Amuse-Bouche Served Hot by EGO</td>
          <td>Europa</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>16/02/2018</td>
          <td>EGO S02 E01</td>
          <td>EKA Palace</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>01/02/2018</td>
          <td>EGO x Rouge with Manycure, Khalil Suleman and Reiseman</td>
          <td>Rive Rouge</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr>
          <td>01/01/2018</td>
          <td>EGO 1st Anniversary</td>
          <td>EKA Palace</td>
          <td>Lisbon, Portugal</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
 
    <!-- Footer -->

    
    <footer id="footer" class="text-center text-white mt-auto" style="background-color: #f1f1f1;">
  <!-- Grid container -->
      <div class="container pt-2">
        <!-- Section: Social media -->
        <section class="mb-2">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.facebook.com/ManycureLX"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.instagram.com/manycure/"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- soundcloud -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://soundcloud.com/manycure"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-soundcloud"></i
          ></a>
          <!-- bandcamp -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://manycure.bandcamp.com/"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-bandcamp"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    </footer>