<div class='container-fluid'>
  <div class='tabledates container-table-sm-12 pt-4'>
    <table id="datestable">
      <tbody>
        <tr>
          <th>Date</th>
          <th class="event">Event</th>
          <th class='vldesktop'>Venue</th>
          <th class='vldesktop'>Location</th>
          <th class='venuelocation'>Venue/<br>Location</th>
          <th>Tickets</th>
        </tr>
        <tr>
          <td>04/06/2022</td>
          <td class="event">Harbour Open Air</td>
          <td class='vldesktop'>TBA</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>TBA<br>Lisbon, Portugal</td>
          <td>Coming Soon</a></td>
        </tr>
        <tr>
          <td>28/05/2022</td>
          <td class="event">EGO x Bone Free</td>
          <td class='vldesktop'>Bone Free</td>
          <td class='vldesktop'>Costa de Caparica, Portugal</td>
          <td class='venuelocation'>Bone Free<br>LCosta de Caparica, Portugal</td>
          <td>Coming Soon</a></td>
        </tr>          
        <tr>
          <td>20/05/2022</td>
          <td class="event">Karakter x Hard Fist</td>
          <td class='vldesktop'>Village Underground Lisboa</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Village Underground<br>Lisbon, Portugal</td>
          <td><a href="https://ra.co/events/1526556" target="_blank">Buy Ticket</a></td>
        </tr>
        <tr class='past'>
          <td>16/04/2022</td>
          <td class="event">UpOnly with Till Noon and Kokeshi</td>
          <td class='vldesktop'>Secret Location</td>
          <td class='vldesktop'>Costa de Caparica, Portugal</td>
          <td class='venuelocation'>Secret Location<br>Costa da Caparica, Portugal</td>
        </tr>        
        <tr class='past'>
          <td>26/03/2022</td>
          <td class="event">EGO X Arroz with Rina, Talgliabue and Manycure</td>
          <td class='vldesktop'>Arroz Estúdios</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Arroz Estúdios<br>Lisbon, Portugal</td>
        </tr>          
        <tr class='past'>
          <td>12/02/2022</td>
          <td class="event">Harbour w/ Barem, Midinoize, Enkō, Manycure, Glove and Fr3d</td>
          <td class='vldesktop'>Harbour Music Shelter</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Harbour Music Shelter<br>Lisbon, Portugal</td>
        </tr>            
        <tr class='past'>
          <td>29/01/2022</td>
          <td class="event">EGO X Arroz 5th Birthday with Khalil Suleman b2b Manycure b2b XCI</td>
          <td class='vldesktop'>Arroz Estúdios</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Arroz Estúdios<br>Lisbon, Portugal</td>
        </tr>            
        <tr class='past'>
          <td>10/12/2021</td>
          <td class="event">Karakter Records Fifth Birthday with Naduve and Pedro Martins b2b Manycure</td>
          <td class='vldesktop'>Village Underground Lisboa</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Village Underground<br>Lisbon, Portugal</td>
          <td></td>
        </tr>            
        <tr class='past'>
          <td>04/12/2021</td>
          <td class="event">EGO Showcase</td>
          <td class='vldesktop'>Frikk Club</td>
          <td class='vldesktop'>Porto, Portugal</td>
          <td class='venuelocation'>Frikk Club<br>Porto, Portugal</td>
          <td></td>
        </tr>            
        <tr class='past'>
          <td>19/11/2021</td>
          <td class="event">EGO x Arroz with Larmour, Vaz & Manycure</td>
          <td class='vldesktop'>Arroz Estúdios</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Arroz Estúdios<br>Lisbon, Portugal</td>
          <td></td>
        </tr>        
        <tr class='past'>
          <td>10/11/2021</td>
          <td class="event">Monolink Concert warm up Kokeshi b2b Manycure</td>
          <td class='vldesktop'>Capitólio</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Capitólio<br>Lisbon, Portugal</td>
          <td></td>
        </tr>        
        <tr class='past'>
          <td>30/10/2021</td>
          <td class="event">EGO S04 E04</td>
          <td class='vldesktop'>Nada Temple</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Nada Temple<br>Lisbon, Portugal</td>
          <td></td>
        </tr>        
        <tr class='past'>
          <td>18/09/2021</td>
          <td class="event">EGO x Arroz with Naduve and Manycure</td>
          <td class='vldesktop'>Arroz Estúdios</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Arroz Estúdios<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>19/06/2021</td>
          <td class="event">EGO S04 E02</td>
          <td class='vldesktop'>Nada Temple</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Nada Temple<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>24/10/2020</td>
          <td class="event">Karakter Breakfast Club</td>
          <td class='vldesktop'>Nada Temple</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Nada Temple<br>Lisbon, Portugal</td>
          <td></td>
        </tr>   
        <tr class='past'>
          <td>26/09/2020</td>
          <td class="event">Karakter Breakfast Club</td>
          <td class='vldesktop'>Nada Temple</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Nada Temple<br>Lisbon, Portugal</td>
          <td></td>
        </tr> 
        <tr class='past'>
          <td>07/09/2020</td>
          <td class="event">D.Quixote Private Party</td>
          <td class='vldesktop'>Bar do Moinho D. Quixote</td>
          <td class='vldesktop'>Colares, Portugal</td>
          <td class='venuelocation'>Bar do Moinhowill<br>Colares, Portugal</td>
          <td></td>
        </tr>   
        <tr class='past'>
          <td>05/09/2020</td>
          <td class="event">Sarau Electrónico</td>
          <td class='vldesktop'>Nada Temple</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Nada Temple<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>29/08/2020</td>
          <td class="event">Sarau Electrónico</td>
          <td class='vldesktop'>Nada Temple</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Nada Temple<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>16/08/2020</td>
          <td class="event">EGO S03 E02 Quarantine</td>
          <td class='vldesktop'>EGO Stream</td>
          <td class='vldesktop'>Online</td>
          <td class='venuelocation'>EGO Stream<br>Online</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>10/08/2020</td>
          <td class="event">Karakter Records Show</td>
          <td class='vldesktop'>East Side Radio</td>
          <td class='vldesktop'>Online</td>
          <td class='venuelocation'>East Side Radio<br>Online</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>28/02/2020</td>
          <td class="event">EGO S03 E01</td>
          <td class='vldesktop'>Nada Temple</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Nada Temple<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>28/02/2020</td>
          <td class="event">Karakter Records Show</td>
          <td class='vldesktop'>East Side Radio</td>
          <td class='vldesktop'>Online</td>
          <td class='venuelocation'>East Side Radio<br>Online</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>28/12/2019</td>
          <td class="event">EGO S03 E00</td>
          <td class='vldesktop'>Nada Temple</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Nada Temple<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>08/12/2019</td>
          <td class="event">Harbour with Midinoize and HNRQ b2b Manycure</td>
          <td class='vldesktop'>Harbour Music Shelter</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Harbour Music Shelter<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>21/09/2019</td>
          <td class="event">Underground Meco Festival</td>
          <td class='vldesktop'>Sesimbra Natura Park</td>
          <td class='vldesktop'>Sesimbra, Portugal</td>
          <td class='venuelocation'>Sesimbra Natura Park<br>Sesimbra, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>20/09/2019</td>
          <td class="event">Madalena: Rick Offen b2b Manycure</td>
          <td class='vldesktop'>Madalena</td>
          <td class='vldesktop'>Faro, Portugal</td>
          <td class='venuelocation'>Madalena<br>Faro, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>23/05/2019</td>
          <td class="event">Karakter: Manycure x Pedro Martins x Switchdance</td>
          <td class='vldesktop'>Lux Frágil</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Lux Frágil<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>09/02/2019</td>
          <td class="event">16 Anos de Mister Teaser</td>
          <td class='vldesktop'>Anjos70</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Anjos70<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>18/01/2019</td>
          <td class="event">Superb: Fango x Bufiman x Carista x Manycure x Varela</td>
          <td class='vldesktop'>Lux Frágil</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Lux Frágil<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>01/12/2018</td>
          <td class="event">Karakter Label Night</td>
          <td class='vldesktop'>Rive Rouge</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Rive Rouge<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>26/10/2018</td>
          <td class="event">Super Rouge: Switchdance + Manycure</td>
          <td class='vldesktop'>Rive Rouge</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Rive Rouge<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>30/09/2018</td>
          <td class="event">EGO Rouge with Khalil Suleman, Manycure and Boltzman</td>
          <td class='vldesktop'>Rive Rouge</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Rive Rouge<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>12/08/2018</td>
          <td class="event">Super Rouge with Twofold x Switchdance x Manycure x Khalil Suleman</td>
          <td class='vldesktop'>Rive Rouge</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Rive Rouge<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>03/08/2018</td>
          <td class="event">Super Rouge - Pedro Martins + Manycure b2b Khalil Suleman</td>
          <td class='vldesktop'>Rive Rouge</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Rive Rouge<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>22/07/2018</td>
          <td class="event">EGO Rouge with Reiseman, Manycure and Khalil Suleman</td>
          <td class='vldesktop'>Rive Rouge</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Rive Rouge<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>30/06/2018</td>
          <td class="event">Saturday Night Life by EGO</td>
          <td class='vldesktop'>Europa</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Europa<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>11/05/2018</td>
          <td class="event">Palmbomen II (Live) + Pedro Martins + Manycure</td>
          <td class='vldesktop'>Rive Rouge</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Rive Rouge<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>19/04/2018</td>
          <td class="event">Amuse-Bouche Served Hot by EGO</td>
          <td class='vldesktop'>Europa</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Europa<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>07/05/2018</td>
          <td class="event">Infame with Hnrq and Khalil Suleman b2b Manycure</td>
          <td class='vldesktop'>Infame</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Infame<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>22/03/2018</td>
          <td class="event">Amuse-Bouche Served Hot by EGO</td>
          <td class='vldesktop'>Europa</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Europa<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>16/02/2018</td>
          <td class="event">EGO S02 E01</td>
          <td class='vldesktop'>EKA Palace</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Eka Palace<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>01/02/2018</td>
          <td class="event">EGO x Rouge with Manycure, Khalil Suleman and Reiseman</td>
          <td class='vldesktop'>Rive Rouge</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Rive Rouge<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
        <tr class='past'>
          <td>01/01/2018</td>
          <td class="event">EGO 1st Anniversary</td>
          <td class='vldesktop'>EKA Palace</td>
          <td class='vldesktop'>Lisbon, Portugal</td>
          <td class='venuelocation'>Eka Palace<br>Lisbon, Portugal</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
 
    <!-- Footer -->

    
    <footer id="footer" class="text-center text-white mt-auto" style="background-color: #f1f1f1;">
  <!-- Grid container -->
      <div class="container pt-2">
        <!-- Section: Social media -->
        <section class="mb-2">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.facebook.com/ManycureLX"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.instagram.com/manycure/"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- soundcloud -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://soundcloud.com/manycure"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-soundcloud"></i
          ></a>
          <!-- bandcamp -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://manycure.bandcamp.com/"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-bandcamp"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    </footer>