<div class='container-fluid'>
  <div class='mx-5 pt-4'>
    <h3>Radio</h3>
    <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Feastsideradiolive%2Fkarakter-records-w-manycur-10-ago-2020%2F" frameborder="0" ></iframe>
    <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Feastsideradiolive%2Fkarakter-records-w-manycure-28-feb-2020%2F" frameborder="0" ></iframe>
    <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fquanticaonline%2Fswitch-oddities-1-by-switchstdance-w-guest-mix-by-manycure%2F" frameborder="0" ></iframe>
  </div>
  <div class='mx-5 pt-4'>
    <h3>Live Dj Sets</h3>
    <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fmanycure%2Fmanycure-at-lux-fr%C3%A1gil-superb-6-w-bufiman-fango-carista-and-varela%2F" frameborder="0" ></iframe>
    <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FElectronicGenerationOnwards%2Fkhalil-manycure-ego-at-eka-palace-050817%2F" frameborder="0" ></iframe>
  </div>
  <div class='mx-5 pt-4'>
    <h3>Interview</h3>
    <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FColetivoCamaleao%2Fcrowd-control-1-manycure%2F" frameborder="0" ></iframe>
  </div>
</div>