<div class='container-fluid'>
  <div class='mx-5 pt-4'>
    <h3 class= 'text-center px-5'>Radio</h3>
    <div class="row mt-4">
      <div class="col-sm">
        <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Feastsideradiolive%2Fkarakter-records-w-manycur-10-ago-2020%2F" frameborder="0" ></iframe>
      </div>
      <div class="col-sm">
        <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Feastsideradiolive%2Fkarakter-records-w-manycure-28-feb-2020%2F" frameborder="0" ></iframe>
      </div>
      <div class="col-sm">
        <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fquanticaonline%2Fswitch-oddities-1-by-switchstdance-w-guest-mix-by-manycure%2F" frameborder="0" ></iframe>
      </div>
    </div>

    
    
  </div>
  <div class='mx-5 pt-4'>
    <h3 class= 'text-center px-5'>Live Dj Sets</h3>
    <div class="row mt-4">
        <div class="col-sm">
          <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fmanycure%2Fmanycure-at-lux-fr%C3%A1gil-superb-6-w-bufiman-fango-carista-and-varela%2F" frameborder="0" ></iframe>
        </div>
        <div class="col-sm">
          <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FElectronicGenerationOnwards%2Fkhalil-manycure-ego-at-eka-palace-050817%2F" frameborder="0" ></iframe>
        </div>
    </div>
    
    
  </div>
  <div class='mx-5 pt-4'>
    <h3 class= 'text-center px-5'>Interview</h3>
    <div class='mt-4'>
      <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FColetivoCamaleao%2Fcrowd-control-1-manycure%2F" frameborder="0" ></iframe>
    </div>
  </div>
</div>

    <!-- Footer -->

    
    <footer id="footer" class="text-center text-white mt-auto" style="background-color: #f1f1f1;">
  <!-- Grid container -->
      <div class="container pt-2">
        <!-- Section: Social media -->
        <section class="mb-2">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.facebook.com/ManycureLX"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.instagram.com/manycure/"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- soundcloud -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://soundcloud.com/manycure"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-soundcloud"></i
          ></a>
          <!-- bandcamp -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://manycure.bandcamp.com/"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-bandcamp"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    </footer>