
<div class='container-fluid'>

  <div class='mx-3 pt-4'>
    <div class ="row justify-content-md-center">
      <div id='description' class ="col-sm-12 col-md-6 text-center align-self-center">
        <h1>Thea's Eyes</h1>
        <p>"Straight from Manycure's lost tracks stash, comes "Thea's Eyes", a combination between hypnotic sensuality and power on this tribal groover with an exotic vibe made to seduce the dancefloor."</p>

        <p>Catalog: K#014<br>
        Written & Produced by Manycure<br>
        Mastered by Z Services<br>
        Artwork by s.a.i.n.n.e.</p>
      </div>      
      
      <div class = "col-sm-12 col-md-6 d-flex justify-content-end align-self-center">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/874471501&color=%23090909&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
      </div>
    </div>
  </div>

  <div class='mx-3 pt-4'>
    <div class = "row ">
      <div class = "col-sm-12 order-md-2 col-md-6 text-center align-self-center">
        <h1>Colossio - Raices (Manycure Remix)</h1>
        <p>"as envisioned by Manycure, is the Yang to Colossio's Yin. Enjoy the howls and the vibrant tides and energy flows and get ready to be immersed in nature in its purest form."</p>
        
        <p>Catalog: K#010<br>
        Written & Produced by Colossio<br>
        Remixed by Manycure <br>
        Mastered by Jay ‘Jedi' Hodgson at MOTTOsound<br>
        Artwork by s.a.i.n.n.e.</p>
      </div>
      <div class = "col-sm-12 order-md-1 col-md-6 d-flex justify-content-start align-self-center">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/621019032&color=%23090909&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
      </div>
    </div>
  </div>

  <div class='mx-3 pt-4'>
        <div class = "row justify-content-md-center">
          <div class = "col-sm-12 col-md-6 text-center align-self-center">
            <h1>Native Speech</h1>
            <p>""...and the entities became as close to oneness as their interactions allowed. Effortless communication through their native speech, a near perfect, graceful flow of swift tongues. Pulse, rhythm, and tone in harmony with their intent, never faltering in what was meant to say. But their flowing exchange of noises and hums was abruptly interrupted by a third. Its language was the same, but through the accent almost foreign. Dissonance through open vowels and tonal differences. However, as the two quickly discovered, there lies beauty in imperfection."</p>
            <p>1. Native Speech <br>
            2. Open vowels <br>
            3. Native Speech (Panorama Channel "On Acid" Remix) </p>
            <p>Catalog: K#007<br>
            Written & Produced by Manycure<br>
            Mastered by Jay ‘Jedi' Hodgson at MOTTOsound<br>
            Artwork by Motta</p>
          </div>
          <div class = "col-sm-12 col-md-6 d-flex justify-content-end align-self-center">
            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1405047157&color=%23160c0a&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
          </div>
        </div>
  </div>

  <div class='mx-3 pt-4'>
    <div class = "row justify-content-md-center">
      <div class = "col-sm-12 col-md-6 order-md-2 text-center align-self-center">
        <h1>Hypocrite</h1>
        <p>"How to accurately describe Manycure's latest addition to the Karakter chapters? Pulsating, hypnotic rhythms combined with soul-piercing synths perhaps explains it best. Both ‘Hypocrite’ and ‘Hear her‘ slowly entrench themselves into the mind, ambiguous in its mood by walking a thin line between ominous and hopeful"</p>
        <p>1. Hypocrite <br>
        2. Hear Her </p>
        <p>Catalog: K#004 <br>
        Written & Produced by Manycure <br>
        Mastered by Jay ‘Jedi' Hodgson at MOTTOsound <br>
        Artwork by Motta</p>
      </div>
      <div class = "col order-md-1 d-flex justify-content-start align-self-center">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/342863546&color=%23160c0a&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
      </div>
    </div>
  </div>

  <div class='mx-3 pt-4'>
    <div class = "row justify-content-md-center">
      <div class = "col-sm-12 col-md-6 text-center align-self-center">
        <h1>Lume</h1>
        <p>"Starting off with a straightforward bass drum, Manycure's 'The Swallow' is slowly building a fairly dark and gloomy atmosphere- perfect for these current somber winter days!
        While 'Gate 00' surprises us with its rather playful and spherical vibes, we feel that 'Zeit' makes time run way faster- the driving synth line and the mechanic drums are taking you on a trip through time and space.
        Last but not least: 'Lume' illuminates not only dance floors, but may also help you to get through one or more snow/rain filled and lightless January days. It might not replace the lack of Vitamin D we are all feeling right now, but it is the second best thing you will get this winter!
        As a resident at Lux Fragil, SwitchSt(d)ance is one of the most influential DJs from Lisbon and we are more than happy to have him aboard for this EP. With his Version of 'Zeit' he is giving the EP its well-deserved smooth and clubby ending."</p>
        <p>1. The Swallow <br>
        2. Gate 00 <br>
        3. Zeit <br>
        4. Lume <br>
        5. Zeit Switchst(d)ance Remix </p>
        <p>Catalog: KODX005 <br>
        Written & Produced by Manycure <br>
        Artwork by Pedro Santana</p>
      </div>
      <div class = "col-sm-12 col-md-6 d-flex justify-content-end align-self-center">
        <iframe width="100%" height="550" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/182361225&color=%23160c0a&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"></div>
      </div>
    </div>
  </div>
</div>


    <!-- Footer -->

    
    <footer id="footer" class="text-center text-white mt-auto" style="background-color: #f1f1f1;">
  <!-- Grid container -->
      <div class="container pt-2">
        <!-- Section: Social media -->
        <section class="mb-2">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.facebook.com/ManycureLX"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.instagram.com/manycure/"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- soundcloud -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://soundcloud.com/manycure"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-soundcloud"></i
          ></a>
          <!-- bandcamp -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://manycure.bandcamp.com/"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-bandcamp"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    </footer>