
.navbar {
  padding-left: 16px;
}

.navbar-nav {
  padding-left: 25px;
}

.nav-item {
  padding-right: 25px;
}

#manycure {
  text-decoration: none !important; 
  color: black;
}

.manycurelink {
  justify-content: space-between;
  display: inline-block;
  text-decoration: none !important; 
  color: black;
}

.fa-hand-paper {
  font-size: 1.6rem;
  padding-right: 25px;
}

/* .navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
} */

